/* Палитра цветов */
/* Акцент голубой #2196f3 */
/* Основной цвет текста серый  #757575 */
/* Цвет заголовков и меню вариация чёрного #212121 */
/* Белый текст #FFFFFF */
/* Цвет фона основной белый #FFFFFF */
/* Цвет фона вторичный бледно-серый #F5F4FA */
/* Цвет фона футер серый #2F303A */

/* Шрифты */
/* Основной шрифт Roboto normal 400,500,bold 700, 900 */
/* Шрифт лого Raleway bold 700 */

:root {
  --brand-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #ffffff;
  --secondary-bgc: #f5f4fa;
}
.list {
  list-style: none;
  padding: 0;
}
/* Сброс данных */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* Оптимизация картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  /* outline: 2px solid red; */

  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Флекс-бокс для всех списков главной, кроме хедера */
.flex-box {
  display: flex;
  padding: 0;
}
.flex-box li:not(:last-child) {
  margin-right: 30px;
  padding: 0;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Кнопки */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--brand-color);

  text-align: center;
  cursor: pointer;

  width: 200px;
  height: 50px;
  padding: 0;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* Header */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-item-black {
  color: #000000;
}
.link-nav {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}
.link-nav.current {
  color: var(--brand-color);
}
.link-nav.current::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav li:not(:first-child) {
  margin-left: 50px;
}
.nav {
  display: flex;
}

.main-menu {
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts .item + .item {
  margin-left: 30px;
}
.icon-contacts {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover .icon-contacts,
.link-nav:focus .icon-contacts {
  fill: var(--brand-color);
}

/* Граница */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Hero */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 30px;
}
.hero-button,
.modal-button {
  display: block;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: #000000;
}
.close-button:hover,
.close-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: var(--brand-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.modal-form ul {
  padding: 0;
}
.modal-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input,
.modal-textarea {
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-input {
  height: 40px;
  padding: 0 0 0 40px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 0;
}
.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  outline: none;
  border-color: var(--brand-color);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
.contract-link {
  color: var(--brand-color);
}

.modal-input-field {
  position: relative;
}
.modal-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icons,
.modal-input:hover + .modal-icons {
  fill: var(--brand-color);
}
.checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-visual {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  left: 14px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-hidden:checked + .checkbox-visual {
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox-text {
  margin-left: 37px;
}

/* Наши особенности */
.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.skills-box {
  width: 270px;
}
.skills-picture {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

/* Чем мы занимаемся */
.section-work {
  padding-top: 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);

  margin-bottom: 50px;
}
.thumb {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.thumb-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.section-team {
  background-color: var(--secondary-bgc);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
}
.team-card {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-box {
  padding: 30px 59px 0px;
}

.flex-social-icons {
  display: flex;
  justify-content: center;
  padding: 16px 32px 30px 32px;
}

.flex-social-icons li:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--brand-color);
}
.social-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover .social-icons,
.social-links:focus .social-icons {
  fill: #ffffff;
}
/* Постоянные клиенты */
.clients-icons-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icons-link:hover,
.clients-icons-link:focus {
  border: 1px solid var(--brand-color);
}
.clients-icons-item {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icons-link:hover .clients-icons-item,
.clients-icons-link:focus .clients-icons-item {
  fill: var(--brand-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
  color: var(--white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-item-white {
  color: var(--white-color);
}
a.logo-footer {
  display: block;
  padding: 0;
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--brand-color);
}
address {
  font-style: normal;
  margin-top: 20px;
}
.footer-items {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icons {
  fill: #fff;
}
.flex-footer-icons {
  display: flex;
}
.flex-footer-icons li:not(:last-child) {
  margin-right: 10px;
}
.footer-icons-text,
.footer-label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-social {
  margin-left: 80px;
}
.flex-footer {
  display: flex;
  align-items: baseline;
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.footer-field-align {
  display: inline-flex;
}
.footer-input {
  padding: 0 0 0 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input:focus {
  color: #fff;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-send {
  margin-left: 10px;
}

/* Портфолио */
/* Кнопки */
.section-portfolio h1 {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);
  background-color: var(--secondary-bgc);
  cursor: pointer;

  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}
.flex-button {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.flex-button li:not(:last-child) {
  margin-right: 8px;
}
/* Проекты */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.project-link {
  text-decoration: none;
}
.project-link:hover,
.project-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-project {
  display: flex;
  flex-wrap: wrap;
}
.flex-project li:not(:nth-child(3n)) {
  margin-right: 30px;
}
.flex-project li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.card-text {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
/* Overlay */
.project-image {
  position: relative;
  overflow: hidden;
}
.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translatey(0);
}
.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  opacity: 1;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > .overlay-text {
  color: #fff;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
}