/* Шрифты */
/* Основной шрифт Roboto normal 400,500,bold 700, 900 */
/* Шрифт лого Raleway bold 700 */

$brandColor: #2196f3; //Цвет-акцент: лого, кнопки, иконки, оверлей//
$titleTextColor: #212121; //Заголовки, меню//
$primaryTextColor: #757575; //Основной цвет текста//
$secondaryTextColor: #ffffff; //Название сайта, текст футера, кнопки, оверлей//
$primaryBgc: #ffffff; //Основной фон//
$secondaryBgc: #f5f4fa; //Фон на команде//
$footerBgc: #2f303a; //Фон футера//
$buttonHoverColor: #188ce8;
$boxShadowColor: rgba(0, 0, 0, 0.25);
